*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

    /* FUENTES */

@font-face {
	font-family: 'Rubik Bold';
	src: url('../assets/font/Rubik-Bold.ttf');
}
@font-face {
	font-family: 'Rubik Regular';
	src: url('../assets/font/Rubik-Regular.ttf');
}


a:link {color: #f0b953; font-size: 22pt;  text-decoration: none }
a:hover {color: #f0b953; font-size: 22pt;  text-decoration: none; cursor: pointer; }
a:visited {color: #f0b953; font-size: 22pt; text-decoration: none }


    /* BODY */

body {
    background-image: linear-gradient(#c6ceca,rgb(84, 72, 99));
}

    /* HEADER */

.header__content-logo{
    width: 200; 
    height: 120;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

    /* GENERAL */


.title{/* titulos */
    margin: 20px;
    font-style: italic;
    font-family: 'Rubik-Regular';
    font-size: 50px;
    color: #11274e;
    text-align: center;
}

p{/* parrafos */
    font-style: italic;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

    /* TARGETAS */

.card {
    display: flex;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    /* background-color: rgba(217, 205, 113, 0.4); */
    border: rgba(117, 125, 161, 0.4) solid;
    border-radius: 20px;
    box-shadow: 0px 20px 50px -12px rgba(35, 129, 118, 0.6);
    justify-content: center;
    align-items: center;
}

.card__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.card__header-img {
    width:auto;
    height:auto;
    border-radius: 10px;
    margin: auto;
}

.card__header {
    padding: 10px;    
    margin: 0 auto;
    display: block;
}

.card__header ul{
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
    list-style-type: circle;
}


    /* PAGINAS */

/* Contacto */
.contact{
    font-size: 25px;
    text-align: center;
    height: 450px;
    padding: 0 20px;
    margin-bottom: 50px;
}

form{
    margin: 100 auto;
}

/* Ubicacion */

.location{
    padding: 0 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location__ig{
    width:320;
    height:450;
}

.location__google{
    width:600;
    height:450;
}

/* Sobre nosotros */

.aboutus__img{
    width: 75%;
    height: 50%;
    /* filter: brightness(1.1);
    mix-blend-mode: multiply; */
}

.aboutus{
    padding: 0 20px;
    overflow: hidden;
    text-align: center;
}

/* Productos */

.product {
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
}

.product__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

.product__content {
    margin-bottom: 50px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-around;
}

.pay{
    overflow: hidden;
    font-size: 25px;
    text-align: center;
    margin: 50px;
}

    /* FOOTER */

.footer__logo{
    width: 100;
    margin-left: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.card:hover{

    filter: brightness(110%);
    z-index: -1;
}

/* MEDIAS QUERIES */

@media (max-width: 1280px) {
    .product__content{
        grid-template-columns: 1fr;
    }
}

/*vista mobile*/
@media only screen and (min-width:0px) and (max-width:767px){

    .title{
        font-size: 35px;
    }

    .banner-featured{
        grid-template-columns: 1fr;
    }

    .product__content{
        grid-template-columns: 1fr;
    }

    .card__header{
        margin: 0 10px;
    }

    .product img{
        display: none;
    }

    .footer__contact{
        display: none;
    }

}



.color1 {color: #000002;}
.color2 {color: #11274e;}
.color3 {color: #3c57a2;}
.color4 {color: #768eff;}
.color5 {color: #bdcaff;}

.color1 {color: #726EFF;}
.color2 {color: #5AFFE7;}
.color3 {color: #08C6AB;}
.color4 {color: #37465B;}
.color5 {color: #212B38;}