/* Sobre nosotros */

.aboutus{
    @include tempPadAlign(false, false);
    overflow: hidden;

    &__img{
        width: 75%;
        height: 50%;

        &:hover{
            filter: saturate(180%);
        }
    }
}
