/* Sobre nosotros */

.aboutus{
    padding: 0 20px;
    overflow: hidden;
    text-align: center;

    &__img{
        width: 75%;
        height: 50%;
        /* filter: brightness(1.1);
        mix-blend-mode: multiply; */

        &:hover{
            filter: saturate(180%);
        }
    }
}
