    /* HEADER */
    
.header__content-logo{
    width: 6rem; 
    /* height: 70; */
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}