$colorLink: #f0b953;
$colorLinkH: #bd9f66;
$colorCardPanelBG: rgba(49, 91, 160, 0.418);
$colorCardPanelBR: rgba(117, 125, 161, 0.4) solid;
$colorCardPanelBX: rgba(17, 18, 18, 0.6);
$colorIcon: #f8f9fa;
$breakPointL: 1280px;
$breakPointM: 1200px;
$breakPointS: 767px;
$bodyMinWidth: 420px;
$transition: all 0.4s;
$transitionNav: transform 0.5s ease-in-out;
$fontLarge: 50px;
$fontMed: $fontLarge - 15;
$fontSmall: $fontLarge - 30;
// $background: linear-gradient(#c6ceca 1%,rgb(84, 72, 99)90%);
$background: linear-gradient(#a6a8a1 1%,rgb(73, 72, 99)90%);
